0. 시작화면 - "우리는 배달의 민족이었어" 처럼 우리 프로그램 만의 트레이드 마크 문구 깔끔하게 날림.
1. 방 선택.
2. 방 만들기.
3. 방 들어가서 음성 채팅 및 텍스트 채팅(말할 때마다 유저 아이콘 빛나게.)
4. 매칭 버튼 눌렀을때 자동으로 방 생성해줌.
5. 그 유저 클릭시 랭크 정보 쭉 보여줌.
6. 

우리 앱의 로고가 필요.
proposal prototype엔 임시로 지정해 놓음.